# Rename this file to .env and fill in the values.
PRIVATE_KEY=your_private_key_without_0x_prefix
DESTINATION_ADDRESS=your_destination_address_optional
STARKNET_RPC=ypur_starknet_rpc_endpoint
STARKNET_ACCOUNT_ADDRESS=0xYourStarknetAccountAddress
STARKNET_PRIVATE_KEY=your_starknet_private_key_hex
